<%- include('styles.ejs') %>
<div class="container pt-5" style="padding-bottom: 120px">
  <div class="r-container" id="r-container">
    <div class="reaction" id="reaction"></div>
  </div>
  <div id="pre" class="text-center">
    <h4 id="msg">Waiting for your partner to join the game...</h4>
    <h4>
      Game Code:&nbsp;
      <span id="gCode"><%=code%></span>
      &nbsp;
      <button class="btn btn-primary" id="cpy">
        <i class="fas fa-copy"></i>
      </button>
    </h4>
  </div>
  <div id="game">
    <div class="mt-5 text-center parent">
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8" style="display: flex; justify-content: center">
          <div id="grid"></div>
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
    <div class="text-center mt-5">
      <h4 id="trnStts"></h4>
      <hr style="background-color: white" />
      <!-- <div class="row">
        <div class="col-sm-6">
          <h5><span id="cnt1"></span></h5>
        </div>
        <div class="col-sm-6">
          <h5><span id="cnt2"></span></h5>
        </div>
      </div> -->
      <div class="progress">
        <div
          class="progress-bar bg-danger progress-bar-striped progress-bar-animated"
          style="width: 40%"
          id="p1"
        >
          <span id="cnt1" class="txtBg"></span>
        </div>
        <div
          class="progress-bar bg-success progress-bar-striped progress-bar-animated"
          style="width: 20%"
          id="p2"
        >
          <span id="cnt2" class="txtBg"></span>
        </div>
      </div>
    </div>
  </div>
  <div id="end" class="text-center" style="display: none">
    <h1 id="end_msg" class="display-2"></h1>
    <% if(type=="host") { %>
    <button class="btn btn-primary" id="restartBtn">
      <i class="fas fa-sync-alt"></i>&nbsp;Restart Game
    </button>
    <% }else{ %>
    <h5>Host can restart the game...</h5>
    <% } %>
    <button class="btn btn-primary" id="endBtn">
      <i class="fas fa-home"></i>&nbsp;Home
    </button>
  </div>
  <div class="fab-btn" id="toggleChat">
    <i class="fas fa-comments" style="font-size: 30px; margin-top: 4px"></i>
    <span
      class="badge badge-secondary badge-pill"
      id="nBadge"
      style="display: none"
    ></span>
  </div>
  <div class="modal fade" id="chat-modal" data-backdrop="static">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Chatting</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            id="closeChat"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="padding: 0; margin: 0">
          <div class="chat-box" id="chat-box">
            <span class="spacer">&nbsp;</span>
          </div>
        </div>
        <div class="modal-footer" style="padding-bottom: 0">
          <div class="form-group" style="width: 100%">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <button class="btn btn-primary" id="reaction-btn">
                  <i class="fas fa-smile-wink"></i>
                </button>
                <button class="btn btn-primary" id="vibrate-btn">
                  <img src="vibrate.svg" style="height: 22px" />
                </button>
              </div>
              <input
                type="text"
                class="form-control"
                placeholder="Type a message"
                id="message"
              />
              <div class="input-group-append" id="send-btn">
                <button type="button" class="btn btn-primary">
                  <i class="fas fa-paper-plane"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('script.ejs') %>
